<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>MockVA - Welcome</title>
    </h:head>
    <h:body>
		<div class="ui-g">
			<p:growl id="growl" showDetail="true" globalOnly="true"></p:growl>
			<!--here start register form-->

			<div class="ui-g-6">
				<p:panel style="font-size: 13px" header="Register Account">

					<h:form id="accForm" style="font-size: 13px">

						<h:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9" styleClass="ui-panelgrid-blank" style="width: 100%">
							<p:outputLabel style="float: right" value="Account ID * &nbsp;"></p:outputLabel>
							<p:inputText autocomplete="false" style="width: 100%" id="acc_id" value="#{indexBacking.acc.id}" required="true" requiredMessage="Account ID cannot be empty"></p:inputText>
							<br/>
							<p:message for="acc_id"></p:message>

							<p:outputLabel style="float: right" value="Name * &nbsp;"></p:outputLabel>
							<p:inputText style="width: 100%" id="name" value="#{indexBacking.acc.name}" required="true" requiredMessage="Name cannot be empty"></p:inputText>
							<br/>
							<p:message for="name"></p:message>

							<p:outputLabel style="float: right" value="Address &nbsp;" ></p:outputLabel>
							<p:inputTextarea style="width: 100%" id="address" rows="3" value="#{indexBacking.acc.address}" />
							<br/>
							<p:message for="address"></p:message>

							<p:outputLabel style="float: right" value="Birth Date &nbsp;" ></p:outputLabel>
							<p:calendar id="date" value="#{indexBacking.acc.birth}" ></p:calendar>
							<br/>
							<p:message for="date"></p:message>

							<p:outputLabel style="float: right" value="Allow negative balance &nbsp;"></p:outputLabel>
							<p:selectBooleanCheckbox id="negative_balance" value="#{indexBacking.acc.negativeBalance}"></p:selectBooleanCheckbox>
							<br/>

							<p:commandButton value="Submit" update="growl accForm :accGrid" action="#{indexBacking.register()}">
								<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
							</p:commandButton>
						</h:panelGrid>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
							<p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
					</h:form>
				</p:panel>
			</div>

			<!--end of register form-->

			<!--here start graph-->

			<div class="ui-g-6">
				<p:chart id="graph" type="line" model="#{indexBacking.chart}" style="width: 100%; height: 100%" rendered="#{not empty indexBacking.listTrx}"/>
			</div>

			<!--end of graph-->

		</div>
		<div class="ui-g">

			<!--here start account grid-->

			<div class="ui-g-6">
				<h:form id="accGrid" >
					<p:dataTable style="font-size: 13px" value="#{indexBacking.listAcc}" var="acc" widgetVar="accTable" rows="10"
								 paginatorAlwaysVisible="false"
								 paginator="true"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<f:facet name="header">
							Account
						</f:facet>
						<p:column style="width: 16px">
							<p:rowToggler></p:rowToggler>
						</p:column>
						<p:column filterBy="#{acc.id}" filterMatchMode="contains" headerText="Account ID" sortBy="#{acc.id}">
							<p:outputLabel value="#{acc.id}"></p:outputLabel>
						</p:column>
						<p:column filterBy="#{acc.name}" filterMatchMode="contains" headerText="Name" sortBy="#{acc.name}">
							<p:outputLabel value="#{acc.name}"></p:outputLabel>
						</p:column>
						<p:column headerText="Balance" sortBy="#{acc.balance}">
							<p:outputLabel value="#{acc.balance}">
								<f:convertNumber pattern="#,##0.00;-#,##0.00" type="currency"/>
							</p:outputLabel>
						</p:column>
						<p:column filterBy="#{acc.negativeBalance}" filterMatchMode="exact" headerText="Allow Negative Balance" >
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('accTable').filter()" >
									<f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
									<f:selectItem itemLabel="Yes" itemValue="#{true}" noSelectionOption="true" />
									<f:selectItem itemLabel="No" itemValue="#{false}" noSelectionOption="true" />
								</p:selectOneMenu>
							</f:facet>
							<p:outputLabel value="Yes" rendered="#{acc.negativeBalance== true}"></p:outputLabel>
							<p:outputLabel value="No" rendered="#{acc.negativeBalance == false}"></p:outputLabel>
						</p:column>
						<p:column style="align-items:  center">
							<p:commandButton value="Transfer To" update="trfForm" icon="fa fa-arrow-right" oncomplete="PF('trfmodal').show()" action="#{indexBacking.setTrxSrc(acc)}" ></p:commandButton>
						</p:column>

						<p:rowExpansion>
							<p:panelGrid>
								<p:row>
									<p:column style="width: 150px">
										<p:outputLabel style="font-weight: bold; float: right" value="Address"></p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{acc.address}"></p:outputLabel>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel style="font-weight: bold; float: right" value="Birth Date"></p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{acc.birth}"></p:outputLabel>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel style="font-weight: bold; float: right" value="Last Trx ID"></p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{indexBacking.getLastTrx(acc).id}" rendered="#{acc.trx.size() != 0}"></p:outputLabel>
										<p:outputLabel value="" rendered="#{acc.trx.size() == 0}"></p:outputLabel>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel style="font-weight: bold; float: right" value="Last Trx Amount"></p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{indexBacking.getLastTrx(acc).amount}" rendered="#{acc.trx.size() != 0}">
											<f:convertNumber pattern="#,##0.00;-#,##0.00" type="currency"/>
										</p:outputLabel>
										<p:outputLabel value="" rendered="#{acc.trx.size() == 0}"></p:outputLabel>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel style="font-weight: bold; float: right" value="Last Trx Time"></p:outputLabel>
									</p:column>
									<p:column>
										<p:outputLabel value="#{indexBacking.getLastTrx(acc).trxTimestamp}" rendered="#{acc.trx.size() != 0}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" timeZone="#{indexBacking.timeZone}"></f:convertDateTime>
										</p:outputLabel>
										<p:outputLabel value="" rendered="#{acc.trx.size() == 0}"></p:outputLabel>
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:rowExpansion>
					</p:dataTable>
				</h:form>

				<!--trx dialog--> 

				<p:dialog header="Transfer" modal="true" widgetVar="trfmodal" style="font-size: 12px" minHeight="270" minWidth="400" height="270" width="400">
					<h:form id="trfForm">
						<h:panelGrid columns="1" columnClasses="ui-grid-col-12" width="100%">
							<h:outputText value="From Account " style="font-weight: bold"></h:outputText>
							<h:outputText value="#{indexBacking.trx.srcId} (#{indexBacking.srcName})"></h:outputText>

							<h:outputText value="To Account : * " style="font-weight: bold"></h:outputText>

							<p:inputText onchange="#{indexBacking.setTrxDstName(indexBacking.trx.dstId)}" value="#{indexBacking.trx.dstId}" style="width: 100%" required="true">
								<p:ajax update="trfForm" event="change"></p:ajax>
							</p:inputText>

							<p:outputLabel value="(#{indexBacking.dstName})" rendered="#{not empty indexBacking.dstName}" ></p:outputLabel>
							<p:outputLabel value="(...)" rendered="#{empty indexBacking.dstName}"></p:outputLabel>

							<h:outputText value="Amount : * " style="font-weight: bold"></h:outputText>
							<p:inputText id="amount" value="#{indexBacking.trx.amount}" required="true" requiredMessage="Amount cannot empty"></p:inputText>
							<p:message style="width: 80%" for="amount"></p:message>

							<p:commandButton value="Submit" process="trfForm" action="#{indexBacking.transfer()}" update="growl graph trfForm :trxGrid :accGrid" icon="fa fa-check">
								<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
							</p:commandButton>
						</h:panelGrid>

						<!--<p:growl id="message" showDetail="true"/>-->

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
							<p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
					</h:form>
				</p:dialog>

				<!--end of trx dialog-->

			</div>

			<!--end of account grid-->

			<!--here start trx grid-->

			<div class="ui-g-6">
				<h:form id="trxGrid" >
					<p:dataTable style="font-size: 13px" value="#{indexBacking.listTrx}" var="trx" widgetVar="trxTable" rows="10"
								 paginatorAlwaysVisible="false"
								 paginator="true"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<f:facet name="header">
							Transactions
						</f:facet>
						<p:column filterBy="#{trx.id}" filterMatchMode="contains" headerText="Trx ID" sortBy="#{trx.id}">
							<p:outputLabel value="#{trx.id}"></p:outputLabel>
						</p:column>
						<p:column headerText="Trx Timestamp" sortBy="#{trx.trxTimestamp}">
							<p:outputLabel value="#{trx.trxTimestamp}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" timeZone="#{indexBacking.timeZone}"></f:convertDateTime>
							</p:outputLabel>
						</p:column>
						<p:column headerText="Amout" sortBy="#{trx.amount}" style="text-align: right">
							<p:outputLabel value="#{trx.amount}">
								<f:convertNumber pattern="#,##0.00;-#,##0.00" type="currency"/>
							</p:outputLabel>
						</p:column>
						<p:column filterBy="#{trx.accountSrc.id}" filterMatchMode="contains" headerText="Account Src" sortBy="#{trx.accountSrc.id}">
							<p:outputLabel value="#{trx.accountSrc.id}"></p:outputLabel>
						</p:column>
						<p:column filterBy="#{trx.accountDst.id}" filterMatchMode="contains" headerText="Account Dst" sortBy="#{trx.accountDst.id}">
							<p:outputLabel value="#{trx.accountDst.id}"></p:outputLabel>
						</p:column>
					</p:dataTable>
				</h:form>
			</div>

			<!--end of trx grid-->

		</div>
	</h:body>
</html>